body{background:#fff!important;}

.block-page-title-block .content {
   box-shadow:0 0 20px #ddd;
   padding:30px;
   max-width:600px;
   margin:30px auto;
   min-height: 250px;
}

.block-page-title-block  .page-title{margin:0 0 15px;}
.colGroup{}

.col + .col{margin-top:15px;}


@media(max-width:767px){

    .colGroup{padding:15px;}	 
}

@media(min-width:768px){
    div#main-wrapper {
        min-height: calc(100vh - 386px);
    }
}